---
http_interactions:
- request:
    method: get
    uri: https://api.awattar.at/v1/marketdata?end=1564610400000&start=1561932000000
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Eg-Consumer-Id:
      - anonymous
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [
            {
              "start_timestamp": 1561932000000,
              "end_timestamp": 1561935600000,
              "marketprice": 28.98,
              "unit": "Eur/MWh"
            },
            {
              "start_timestamp": 1561935600000,
              "end_timestamp": 1561939200000,
              "marketprice": 26.23,
              "unit": "Eur/MWh"
            },
            {
              "start_timestamp": 1561939200000,
              "end_timestamp": 1561942800000,
              "marketprice": 25.04,
              "unit": "Eur/MWh"
            },
            {
              "start_timestamp": 1561942800000,
              "end_timestamp":[...]
