---
http_interactions:
- request:
    method: get
    uri: http://my.meteoblue.com/packages/basic-1h_basic-day?apikey=test&lat=48.128&lon=16.22
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"metadata":{"modelrun_updatetime_utc":"2024-03-23 19:24","name":"","height":411,"timezone_abbrevation":"CET","latitude":48.128,"modelrun_utc":"2024-03-23
        19:24","longitude":16.22,"utc_timeoffset":1.0,"generation_time_ms":17.139076},"units":{"predictability":"percent","precipitation":"mm","windspeed":"ms-1","precipitation_probability":"percent","relativehumidity":"percent","temperature":"C","time":"YYYY-MM-DD
        hh:mm","pressure":"hPa","winddirection":"degree"},"data_1h":{"time":["2024-03-23
        00:00","2024-03-23 01:00","2024-03-23 02:00","2024-03-23 03:00","2024-03-23
        04:00","2024-03-23 05:00","2024-03-23 06:00","2024-03-23 07:00","2024-03-23
        08:00","2024-03-23 09:00","2024-03-23 10:00","2024-03-23 11:00","2024-03-23
        12:00","2024-03-23 13:00","2024-03-23 14:00","2024-03-23 15:00","2024-03-23
        16:00","2024-03-23 17:00","2024-03-23 18:00","2024-03-23 19:00","2024-03-23
        20:00","2024-03-23 21:00","2024-03-23 22:00","2024-[...]
